################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestApplications/v15
/ToDoList/.vs/ToDoList/v15/Server/sqlite3
ToDoList/.vs/ToDoList/v15/.suo
ToDoList/.vs/ToDoList/v15/Server/sqlite3/storage.ide
ToDoList/.vs/ToDoList/v15/.suo
ToDoList/.vs/ToDoList/v15/.suo
